---
name: Linting
on:
  pull_request:
    branches:
      - main

jobs:
  shell-lint:
    name: Shell Lint
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - name: Run ShellCheck
        uses: ludeeus/action-shellcheck@2.0.0

  python-lint:
    name: Python Lint
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - name: Set up Python 3.9
        uses: actions/setup-python@v5
        with:
          python-version: 3.9

      - name: Install dependencies
        working-directory: src
        run: |
          python -m pip install -r requirements.txt
          poetry install --no-root

      - name: Run Linters
        working-directory: src
        run: |
          poetry run flake8 --ignore=E501

  markdown-lint:
    name: Markdown Lint
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - name: Lint MD files
        uses: avto-dev/markdown-lint@v1
        with:
          args: './**/*.md'

  yaml-lint:
    name: YAML Lint
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - name: YAML Lint
        uses: karancode/yamllint-github-action@v2.1.1
        with:
          yamllint_comment: true
          yamllint_format: parsable
          yamllint_config_filepath: yamllint.yaml

  type-check:
    name: Type Check with mypy
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - name: Set up Python 3.9
        uses: actions/setup-python@v5
        with:
          python-version: 3.9

      - name: Install dependencies
        working-directory: src
        run: |
          python -m pip install -r requirements.txt
          poetry install --no-root

      - name: Run mypy
        working-directory: src
        run: |
          poetry run mypy --ignore-missing-imports .
          # When we'e added annotations and fixed all errors, we can use this stricter version:
          # poetry run mypy --ignore-missing-imports --strict .
